
/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    width: 350px;
    border-radius: 1rem;
    background-color: #121212;
}
.content{
    border-radius: 1rem;
    background-color: #121212;
    flex: 1;
    overflow: auto; /* scroll bar when required*/
}
.player{
    position: fixed;
    background-color: black;
    bottom: 0;
    height: 72px;
    width: 100%;
}
