
/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;   
} /* 1rem = 16px */
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    width: 340px;
    border-radius: 1rem;
    background-color: #000;
}
.content{
    border-radius: 1rem;
    /* background-color: #1E1E1E; */
    background: #1F1F1F;
    background: linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(28, 28, 28, 1) 50%, rgba(0, 0, 0, 1) 100%);
    flex: 1;
    overflow: auto; /* scroll bar when required*/
    margin: 0.5rem;
}
.player{
    position: fixed;
    background-color: black;
    bottom: 0;
    height: 72px;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;

}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.5;
    font-weight: 600;
    margin-left: 1rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
}
.library{
    background-color: #121212;
    margin: 0.5rem;
    border-radius: 1rem;
    height: 100%;
}
.lib-option img{
    height: 1.1rem;
    width: 1.25rem;
}
.lib-option a{
    font-size: 1rem;
    padding-left: 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
}
.icons i{
    font-size: 1.1rem;
    opacity: 0.5;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.lib-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.box{
    background-color: #1F1F1F;
    margin: 0.9rem 0.5rem;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;


}
.p1{
    font-size: 1rem;
    font-weight: 600;
}
.p2{
    font-size: 0.85rem;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 1rem;

}
.p1, .p2{
    /* margin: 1.5rem; */
    line-height: 1.75rem;
}
.badge button{
    font-size: 0.85rem;
    border-radius: 1.75rem;
    padding: 0.5rem 1.25rem;
    font-weight: 550;
    border: none;
    width: fit-content;
    margin-right: 1rem;
}
.sticky-navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 1rem 2rem;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-circle{
    height: 2.25rem;
    width: 2.25rem;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 2.25rem;
    opacity: 0.5;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
.img-circle:hover{
    opacity: 1;
    font-size: 1.30rem;
}
.badge button:hover{
    font-size: 0.87rem;
}
@media (max-width:1000px) {
    .hide{
        display: none;
    }
}